{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1 class="text-center">salddduddt</h1>
    <div class="text-center">
    <button class="btn btn-primary">Salut  </button>
    </div>

{% endblock %}
