{% extends 'base.html.twig' %}

{% block title %}MMA PULSE !{% endblock %}








{% block body %}

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"
            integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>

    <header class="test ">

        <nav class="navbar navbar-expand-lg navbar-light p-4 ">
            <div class="container-fluid ">
                <a class="navbar-brand text-light" href="#">MMA Pulse </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class=" collapse navbar-collapse " id="navbarNavDropdown ">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item">
                            <a class="active mx-2 active" aria-current="page" href="#">Incription</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="{{ path('app_discipline') }}">Disciplines</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="#">Coach</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="#">Planning</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class=" text-citation container">

            <h1 id="text"></h1>
        </div>
    </header>

    
    <h2 class="text-center">Tarif</h2>

  <div class="container-fluid">
    <div class="container p-5">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card1 h-100">
            <div class="card-body">

              <h5 class="card-title">Basic</h5>
              <small class='text-muted'>Saison 2023-2024</small>
              <br><br>
              <span class="h2">220 euros</span>
              <br><br>
              <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block">Select</button>
              </div>
              <ul>
                <li>MMA</li>
                <li>Jujitsu brésilien </li>


              </ul>
            </div>


          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card2 h-100">
            <div class="card-body">

              <h5 class="card-title">Standard</h5>
              <small class='text-muted'>Saison 2023-2024</small>
              <br><br>
                <span class="h2">270 euros</span>
              <br><br>
              <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block">Select</button>
              </div>
              <ul>
                 <li>Lutte</li>
                <li>Jujitsu brésilien </li>
                <li>Boxe anglaise</li>

              </ul>
            </div>


          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card3 h-100">
            <div class="card-body">

              <h5 class="card-title">All access</h5>
              <small class='text-muted'>Saison 2023-2024</small>
              <br><br>
               <span class="h2">320 euros</span>
              <br><br>
              <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block">Select</button>
              </div>
              <ul>
                <li>Lutte</li>
                <li>Jujitsu brésilien </li>
                <li>Boxe anglaise</li>
                <li>MMA</li>

              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>


    <h2 class="text-center">Planning</h2>
    <div id="calendrier">
    </div>






    <h2>salutr</h2>
{% endblock %}

    {% block javascripts %}
        {#        <script  src={{ asset('js/script.js') }}></script>#}




        {#    <script src="/public/js/script.js"></script>#}


        <script>
            document.addEventListener("DOMContentLoaded", function() {



                console.log("ehy")
                let placeholder = document.getElementById("text");
                let words = ["Il n’y a pas de talent ici, ce n’est que du travail. C’est une obsession. Le talent n’existe pas.", "En tant qu’humains, nous sommes tous égaux. Vous pouvez devenir qui vous voulez si vous y consacrez du temps."," Vous atteindrez le sommet, c’est comme ça. Je ne suis pas talentueux.", "Je suis obsédé.", "Mcgregor", "Je m'entraîne, je mange, je dors, et je recommence.", "Khabib"];
                let index = 0;

                function type(words) {
                    let i = 0;
                    let writing = setInterval(() => {
                        placeholder.innerHTML += words.charAt(i);
                        i++;
                        if(i >= words.length) {
                            clearInterval(writing);
                            setTimeout(erase, 1000);
                        }
                    }, 75);
                }

                function erase() {
                    let deleting = setInterval(() => {
                        placeholder.innerHTML = placeholder.innerHTML.slice(0, -1);
                        if(placeholder.innerHTML.length <= 0) {
                            clearInterval(deleting);
                            index++;
                            if(index >= words.length) {
                                index = 0;
                            }
                            type(words[index]);
                        }
                    }, 10);
                }

                type(words[index]);



                window.onload = () => {
                    let calendarElt = document.querySelector("#calendrier")

                    let calendar = new FullCalendar.Calendar(calendarElt, {
                        initialView: 'timeGridWeek',
                        locale: 'fr',
                        timeZone: 'Europe/Paris',
                        height: 860,
                        // day: "numeric",

                        headerToolbar: {
                            start: "",
                            center: "",
                            end: ''
                        },
                        events: {{data|raw}},
                        editable: true,
                        eventResizableFromStart: true,
                        hiddenDays: [0],
                        slotMinTime: '08:00:00',
                        // slotMaxTime: '23:00:00',
                        // slotDuration: '01:00:00',
                        allDaySlot: false,
                        eventColor: 'red',
                        dayHeaderFormat: {weekday: 'long'}

                    })
                    calendar.on('eventChange',(e) => {
                        console.log(e);
                        let url = `/api/${e.event.id}/edit`
                        let donnees = {
                            "title": e.event.title,
                            "start": e.event.start,
                            "end": e.event.end,
                            "backgroundColor": e.event.backgroundColor,
                            "textColor": e.event.textColor,
                        }

                        let xhr = new XMLHttpRequest

                        xhr.open("PUT", url)
                        xhr.send(JSON.stringify(donnees))
                    })

                    calendar.render();
                }
            });


        </script>
    {% endblock %}