{% extends 'base.html.twig' %}

{% block title %}MMA PULSE !{% endblock %}

{% block body %}

    <header class="test ">

        <nav class="navbar navbar-expand-lg navbar-light p-4 ">
            <div class="container-fluid ">
                <a class="navbar-brand text-light" href="#">MMA Pulse </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class=" collapse navbar-collapse " id="navbarNavDropdown ">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item">
                            <a class="active mx-2 active" aria-current="page" href="#">Incription</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="{{ path('app_discipline') }}">Disciplines</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="#">Coach</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="#">Planning</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="#">Contact</a>
                        </li>
                    </ul>
                    {#                        <ul class="navbar-nav ms-auto d-none d-lg-inline-flex"> #}
                    {#                            <li class="nav-item mx-2"> #}
                    {#                                <a class="nav-link text-dark h5" href="" target="blank"><i #}
                    {#                                            class="fa-brands fa-instagram"></i></a> #}
                    {#                            </li> #}
                    {#                            <li class="nav-item mx-2"> #}
                    {#                                <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-twitter"></i></a> #}
                    {#                            </li> #}
                    {#                            <li class="nav-item mx-2"> #}
                    {#                                <a class="nav-link text-dark h5" href="" target="blank"><i #}
                    {#                                            class="fab fa-facebook-square"></i></a> #}
                    {#                            </li> #}
                    {#                        </ul> #}
                </div>
            </div>
        </nav>

        <div class=" text-citation container">

            <h1 id="text"></h1>
        </div>
    </header>




    <h2 class="text-center">Planning</h2>
    <div id="calendrier">
    </div>

    <script src="\public\js\script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"
            integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>





    {% block javascripts %}



        <script>


        </script>
    {% endblock %}


    <h2>salutr</h2>
{% endblock %}