{% extends 'base.html.twig' %}

{% block title %}Hello DisciplineController!{% endblock %}

{% block body %}

<div class="scroll">


        <header class="disciplineHeader ">

            <nav class="navbar navbar-expand-lg navbar-light p-4 ">
                <div class="container-fluid ">
                    <a class="navbar-brand text-light" href="{{ path('home') }}">MMA Pulse </a>
{#                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"#}
{#                            data-bs-target="#navbarNavDropdown"#}
{#                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#                        <span class="navbar-toggler-icon"></span>#}
{#                    </button>#}

                    <div>
                        <ul class="navbar-nav ms-auto ">
                            <li class="nav-item">
                                <a class=" mx-2" href="{{ path('app_discipline') }}">Disciplines</a>
                            </li>

                            <li class="nav-item">
                                <a class=" mx-2" href="{{ path('app_contact') }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

</div>

    <div class="background"></div>


    <div class="section ">
        <div class="section__img">
            <div class="section__img__inner" style="background-image: url(https://i.pinimg.com/564x/b1/78/de/b178de471c651dca1436077e02d50a04.jpg);"></div>
        </div>
        <div class="section__body">
            <div class="section__text">
                <h3>Lutte libre</h3>
                <p>La lutte libre et la lutte féminine sont deux des trois formes de lutte admises aux Jeux olympiques, aux côtés de la lutte gréco-romaine. Dans ces sports de combat, le lutteur ayant mis son adversaire au tapis en lui plaquant les épaules au sol remporte une victoire par tombé. Il existe aussi des luttes chronométrées où l'on peut gagner grâce à des points de mise en danger. Les règles de la lutte féminine, établies en 1987, résultent d'une volonté d'hybridation des règles de la lutte gréco-romaine et de la lutte libre, mais à quelques détails près, s'apparentent très fortement à celles de la lutte libre.
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__img">
            <div class="section__img__inner" style="background-image: url(https://i.pinimg.com/564x/2e/5a/0f/2e5a0fb0f35aa6c68b86368982533e64.jpg);"></div>
        </div>
        <div class="section__body">
            <div class="section__text">
                <h3>Jujitsu brésilien </h3>
                <p>Le jiu-jitsu brésilien (portugais : jiu-jitsu brasileiro; japonais : ブラジリアン柔術, burajirian jūjutsu), est un art martial, un sport de combat et un système de défense et d’offense dérivé de techniques du judo et du ju-jitsu, historiquement développé par la famille Gracie au Brésil.</p>
                <p>Le jiu-jitsu brésilien promeut l'idée qu'une personne peut se défendre ou s’attaquer à un opposant plus lourd et fort en utilisant les techniques appropriées, plus particulièrement en amenant le combat au sol, où les différences de poids se trouvent amoindries, pour appliquer des techniques d'étranglement, de clé articulaire ou de compression musculaire.</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__img">
            <div class="section__img__inner" style="background-image: url(https://i.pinimg.com/564x/ff/5b/57/ff5b57da4a7d01ddf2b5d71c8c7c8c11.jpg);"></div>
        </div>
        <div class="section__body">
            <div class="section__text">
                <h3>Boxe anglaise</h3>
                <p>La boxe anglaise, aussi appelée le noble art, est un sport de combat dans lequel deux adversaires, de même catégorie de poids et de même sexe, se rencontrent sur un ring, munis de gants rembourrés afin de limiter le risque de coupure, et s'échangent des coups de poing, portés au visage et au buste. Le combat est divisé en intervalles de temps, les rounds, ou reprises en français, séparés par une minute de repos annoncée par une cloche où le pugiliste pourra être conseillé et soigné si besoin.</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__img">
            <div class="section__img__inner" style="background-image: url(https://i.pinimg.com/564x/4a/76/b7/4a76b718f183023ae78d2e898fda902f.jpg);"></div>
        </div>
        <div class="section__body">
            <div class="section__text">
                <h3>MMA</h3>
                <p>Les arts martiaux mixtes, souvent désignés par le sigle anglais MMA (mixed martial arts), et anciennement appelés combat libre ou free-fight, sont un sport de combat complet, combinant notamment muay-thaï, jiu-jitsu brésilien, boxe et lutte. Les deux combattants peuvent utiliser de nombreuses techniques ; selon les fédérations, sont autorisées les techniques de percussion telles que coups de pied, de poing, de genou et de coude, mais aussi les techniques de préhension en corps à corps, de projections et de soumission (grappling) et quelquefois des techniques particulières de percussion au sol.</p>
            </div>
        </div>
    </div>



    {% block javascripts %}
        <script  src={{ asset('js/discipline.js') }}></script>
    {% endblock %}
    {#    </div> #}
{% endblock %}
