{% extends 'base.html.twig' %}

{% block title %}New Planning{% endblock %}

{% block body %}



    <div class="container">
        <div class="row vh-100 d-flex justify-content-center mt-5">
            <div class="col-md-8">
                <h1 class="text-dark">Créer nouveau Planning</h1>
                <div class="mb-3">
                    {{ include('planning/_form.html.twig') }}
                </div>
                <div class="mt-3">
                    <a class="btn btn-secondary" href="{{ path('app_planning_index') }}">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
